.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error {
  display: none;
}

.popup__error_visible {
  display: block;
  color: red;
  font-size: 12px;
}

.popup__button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
